.container {
    border-radius: 15px;
    box-shadow: 0px 0px 8.5px rgb(0 0 0 / 37%);
    margin-top: 5em;
    padding: 5em;
}

.ng-select {
    width: 100%;
    cursor: pointer;
    padding: 10px 0;
    border-radius: 5px;
    background-color: white !important;
    box-shadow: 0px 0px 8.5px rgb(0 0 0 / 37%);
}

::ng-deep .ng-select-container {
    padding: 0 20px;
    cursor: pointer !important;
}

.first-store-col {
    margin-top: 20px;
}

.store-dropdown-item {
    padding: 10px;
    background-color: white !important;
}

.store-dropdown-item:hover {
    // margin-top: 20px;
    background-color: #f7d4734c !important;
}

::ng-deep .ng-dropdown-panel {
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 8.5px rgb(0 0 0 / 37%);
}

.required-asterisk {
    color: #f33b3b;
}

.form-label {
    font-size: 15px;
    margin-bottom: 10px;
}

::ng-deep .store-col {
    margin-top: 30px;

    label {
        font-size: 15px;
        margin-bottom: 10px;
    }

    input {
        padding: 10px;
        border-radius: 10px;
    }

    .dp-material,
    .dp-input-container,
    .dp-picker-input {
        input {
            border-radius: 10px !important;
        }
    }
}

.image-col {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.upload-btn {
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.store-sizes {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
        width: 70px;
        height: 40px;
    }
}

.store-submit {
    display: flex;
    justify-content: flex-end;
}
