<div class="top-bar">
    <div class="top-bar__left-side">
        <div class="top-bar__left-side__logo">
            <a routerLink="/store">
                <img alt="logo" src="assets/logo.png" />
            </a>
        </div>
    </div>
    <div class="top-bar__right-side">
        <div class="top-bar__right-side__link">
            <a routerLink="/store">List</a>
        </div>
        <div class="top-bar__right-side__link">
            <a routerLink="/store/ajoute">Ajouter</a>
        </div>
    </div>
</div>